<div class="row modal-close">
    <img src="img/close.png" ng-click="contact.close()" />
</div>
<div class="col-xs-12 text-center modal-title">
    <h1>Contact Us</h1>
</div>
<div class="row col-xs-12  contact-box">
    <form name="contact.frmContact" ng-submit="contact.frmContact.$valid && contact.submitContact()">
        <div class="col-xs-12 m-b-10">
            <div class="col-xs-offset-3 col-xs-6 text-center ">
                <input type="text" class="form-control textbox" required placeholder="Name" ng-model="contact.contactData.name" />
            </div>
        </div>
        <div class="col-xs-12 m-b-10">
            <div class="col-xs-offset-3 col-xs-6 text-center ">
                <input type="text" class="form-control textbox" required placeholder="Email" ng-model="contact.contactData.email" />
            </div>
        </div>
        <div class="col-xs-12 m-b-10">
            <div class="col-xs-offset-3 col-xs-6 text-center ">
                <input type="text" class="form-control textbox" required placeholder="Subject" ng-model="contact.contactData.subject" />
            </div>
        </div>
        <div class="col-xs-12 m-b-10">
            <textarea rows="7" class="form-control textbox" required placeholder="Message" ng-model="contact.contactData.message" />
        </div>
        <div class="col-xs-12 text-center m-b-10">
            <button type="submit" ng-disabled="contact.frmContact.$invalid" class="btn button w-50">Send</button>
        </div>
    </form>
</div>